name: intellij-ton release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_enableBuildSearchableOptions: true
      ORG_GRADLE_PROJECT_publishToken: ${{ secrets.plugin_bot_token }}
      ORG_GRADLE_PROJECT_publishChannel: stable
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Publish intellij-ton plugin
        uses: gradle/gradle-build-action@v1
        with:
          arguments: "publishPlugin"
